<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class="top-page-header">
    <div class="area_logo_header">
      <%= image_tag"job-en-c02.png", class:"job-en-c-icon" %>
    </div>

    <div class="nav">
      <ul class="lists-right">
        <li><%= link_to 'ログイン', class: "login" %></li>
        <li><%= link_to '新規登録', class: "sign-up" %></li>
      </ul>
    </div>
</header>